<div class="page page-navbar-bottom text-center">
    <img data-ng-src="{{ recorderCtrl.previewUrl }}" data-ng-if="recorderCtrl.previewUrl" />

    <nav class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--<a class="navbar-brand" href="#">Brand</a>-->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="">
                            <span class="fa fa-play"></span>
                            <span class="sr-only">streaming</span>
                        </a>
                    </li>

                    <li>
                        <a href="">
                            <span class="fa fa-camera"></span>
                            <span class="sr-only">photo</span>
                        </a>
                    </li>

                    <li>
                        <a href="">
                            <span class="fa fa-video-camera"></span>
                            <span class="sr-only">video</span>
                        </a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <!-- List of records -->
                    <li>
                        <a href="#records">
                            <span class="fa fa-list"></span>
                            <span class="sr-only">list of records</span>
                        </a>
                    </li>

                    <!-- Camera parameters -->
                    <li>
                        <a href="#parameters">
                            <span class="fa fa-cog"></span>
                            <span class="sr-only">parameters</span>
                        </a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>
