html {
    position: relative;
    height: 100%;
    width: 100%;
}

body {
    position: relative;
    height: 100%;
    width: 100%;
}

.page {
    position: relative;
    height: 100%;
    width: 100%;

    &.has-heading {
        padding-top: @navbar-height;
    }

    &.page-navbar-bottom {
        padding-bottom: @navbar-height;
    }

    .page-heading {
        position: fixed;
        vertical-align: middle;
        background: @navbar-inverse-bg;
        color: @navbar-inverse-color;
        height: @navbar-height;
        top: 0;
        left: 0;
        right: 0;

        display: table;
        width: 100%;
        z-index: @zindex-navbar;

        h1 {
            padding-left: floor(@grid-gutter-width / 2);
            position: relative;
            height: 100%;
            font-size: 16px;
            font-weight: 100;
            margin: 0;
            display: table-cell;
            vertical-align: middle;

            .page-title, .page-icon {
                display: table-cell;
                vertical-align: middle;
            }

            .page-icon {
                padding-right: floor(@grid-gutter-width / 2);
            }
        }

        .page-close {
            color: @navbar-inverse-brand-color;
            display: table-cell;
            top: 0;
            right: 0;
            height: 100%;
            width: 15px;
            padding: 0 floor(@grid-gutter-width / 2);
            vertical-align: middle;

            &:hover,
            &:focus {
                color: @navbar-inverse-brand-hover-color;
                background-color: @navbar-inverse-brand-hover-bg;
            }
        }
    }
}

.form-horizontal {
    .form-group {
        margin-bottom: 0 !important;
        border-bottom: 1px solid #ddd;

        padding-top: @form-group-margin-bottom;
        padding-bottom: @form-group-margin-bottom;


        &:first-child {
            /*border-top: 1px solid #ddd;*/
        }

        .control-label {
            text-align: left;
        }
    }
}